---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/292110/historical/24?apikey=YnlzZjAUPcF5iwMplNtzmLMtirwuAsnA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '48'
      Akamai-Grn:
      - 0.24994d68.1673682042.28808ab8
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-01-14T10:58:00+04:00","EpochTime":1673679480,"WeatherText":"Sunny","WeatherIcon":1,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":-5.0,"Unit":"C","UnitType":17},"Imperial":{"Value":23.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/astrakhan/292110/current-weather/292110?lang=en-us","Link":"http://www.accuweather.com/en/ru/astrakhan/292110/current-weather/292110?lang=en-us"},{"LocalObservationDateTime":"2023-01-14T09:58:00+04:00","EpochTime":1673675880,"WeatherText":"Sunny","WeatherIcon":1,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":-7.2,"Unit":"C","UnitType":17},"Imperial":{"Value":19.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/astrakhan/292110/current-weather/292110?lang=en-us","Link":"http:/[...]
