---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/292110?apikey=YnlzZjAUPcF5iwMplNtzmLMtirwuAsnA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Akamai-Grn:
      - 0.0e9eca17.1673620371.35d556a
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-01-13T18:25:00+04:00","EpochTime":1673619900,"WeatherText":"Clear","WeatherIcon":33,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":-6.1,"Unit":"C","UnitType":17},"Imperial":{"Value":21.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/astrakhan/292110/current-weather/292110?lang=en-us","Link":"http://www.accuweather.com/en/ru/astrakhan/292110/current-weather/292110?lang=en-us"}]'
  recorded_at: Fri, 13 Jan 2023 14:32:51 GMT
recorded_with: VCR 6.1.0
